*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.627);
    color: white;
}

.mainContainer{
    background-color: rgb(106, 76, 109);
    width: fit-content;
    margin: auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 2rem;
}

#taskInput{
    width: 100%;
    background-color: white;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.inputContainer .addbtn{
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    background-color: rgba(242, 59, 59, 0.819);
    cursor: pointer;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todoContainer .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(101, 153, 153, 0.852);
    padding: 10px;
    border-radius: 5px;
}

.todoContainer .todo button{
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgba(242, 59, 59, 0.822);
} 
